<html>
    <title>Check</title>
    <body>
        <form action = "/addToDatabase" method="POST">
            docName:<input type="text" name="docName" id = "sjdh"><br>
           Spec:   <input type="text" name="Spec"><br>
           address: <input type="text" name="address"><br>
           id:      <input type="text" name="id"><br>
           imgUrl: <input type="text" name="img"><br>
           email:   <input type="text" name="mail"><br>
           phone:  <input type="text" name="phone"><br>
           timing:  <input type="text" name="timing"><br>
           title: <input type="text" name="title"><br>
        <button type="submit" > Submit </button>
        </form>
    </body>
</html>


<!-- <html>
   <body>
       <form method ="POST" action = "/addToDatabase">
           docName:<input type="text" name="docName" ><br>
           Spec:   <input type="text" name="Spec"><br>
           address: <input type="text" name="address"><br>
           id:      <input type="text" name="id"><br>
           imgUrl: <input type="text" name="img"><br>
           email:   <input type="text" name="mail"><br>
           phone:  <input type="text" name="phone"><br>
           timing:  <input type="text" name="timing"><br>
           title: <input type="text" name="title"><br>
           <button type = "submit" > Submit </button>
       </form>
   </body>
</html> -->