<html>
    <title>Check</title>
    <body>
        <form action = "/addToMedicine" method="POST">
           Name : <input type="text" name = "naam">
           Uses:    <input type="text" name="uses"><br>
           Sideeffect:    <input type="text" name="sa"><br>
           Price: <input type="text" name="price"><br>
           <!-- id:      <input type="text" name="id"><br>
           imgUrl:  <input type="text" name="img"><br>
           email:   <input type="text" name="mail"><br>
           phone:   <input type="text" name="phone"><br>
           timing:  <input type="text" name="timing"><br>
           title:   <input type="text" name="title"><br> -->
        <button type="submit" > Submit </button>
        </form>
    </body>
</html>
